.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-style: solid;
    border-width: 0.1px;
    border-color: rgb(197, 195, 195);

    height: 56.99px;
    align-items: center;

    position: fixed;
    background-color: white;
    top:0;
    left:0;
    right:0;
}

.left {
    display: flex;
    align-items: center;

}

.hamburger {
    height: 23px;
    margin-right: 20px;
    margin-left: 20px;
}

.yt-logo {
    height: 21px;
    margin-right: 20px;
}

.middle {
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;

    border-color: grey;
    margin-right:-30px;

}
.middle form{
    display: flex;
    justify-content: center;
    width:100%;
}
.searchbar {
    flex: 1;
    height: 35px;
    width: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(195, 193, 193);
    border-radius: 2px;
    padding-left: 12px;
}

.searchbar::placeholder {
    font-family: Roboto, arial;
    font-size: 16px;

}

.searchbar:active {
    border-color: rgb(91, 158, 252);
    border-width: 1px;
}

.search-button {
    height: 38px;
    width: 50px;
    border-width: 1px;
    border-color: rgb(196, 195, 195);
    border-radius: 2px;
    border-style: solid;
    margin-left: -2px;
    margin-right: 14px;
    background-color: white;
}

.search-icon {
    height: 20px;
}

.voice-search-button {
    height: 38px;
    width: 35px;
    border-width: 0px;
    background-color: white;
}

.right{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:220px;
    flex-shrink: 0;
}

.upload-button,.yt-apps-button,.notif-button{
    height:40px;
    border-width:0;
    background-color: white;
    
}
.upload-icon,.yt-apps-icon,.notif-icon{
    height: 26px;
}
.notif-button{
    position: relative;
}
.notif-button div{
    background-color: red;
    color:white;
    font-size:11px;
    border-radius: 15px;
    margin-right: 5px;
    margin-top:3px;
    position:absolute;
    top:0;
    right:0;
    padding:1px 4px;
}

.account-icon,.account-pic{
    height:35px;
    padding:0;
    border-width:0;
    border-radius:20px;

}
.account-icon{
    margin-right:20px;
}